@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Knewave&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";

@theme {
  /* Main brand color:
     Primary buttons, links, active states, icons,
     important words and interactive elements */
  --color-primary: #fa8334;

  /* Supporting brand color:
     Highlights, badges, underlines, hover backgrounds
     and small decorative elements */
  --color-secondary: #fffd77;

  /* Elevated surface color:
     Cards, navbar, modals, containers and content panels */
  --color-accent: #f0f8ea;

  /* Main page color:
     Body background and large neutral sections */
  --color-background: #e7e8d1;

  /* Main text color:
     Headings, body text and text placed over light colors */
  --color-foreground: #25251f;

  /* Secondary text color:
     Descriptions, dates, labels, metadata and captions */
  --color-muted: #65665b;

  --font-basic:'DM Sans', 'sans-serif';
  --font-title:'Unbounded', 'sans-serif';
  --font-fun:'Knewave', 'cursive';
}

* {
}
